{% extends "dashboard/base.html" %}
{% block content %}
{% if request.user.is_staff %}
<div class="row">
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Данные</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <a href="{% url 'add_scooter' %}">
            <button type="button" class="btn btn-primary mx-2">Добавить самокат</button>
          </a>
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <a href="{% url 'export_to_csv_user' %}">Выгрузить пользователей</a>
            </button>
          </div>
        </div>
        <div class="dropdown">
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Действие</a></li>
            <li><a class="dropdown-item" href="#">Другое действие</a></li>
            <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <br>
    <h2>Самокаты</h2>
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'export_to_csv_scooter' %}">Экспортировать</a></button>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">НОМЕР САМОКАТА</th>
            <th scope="col">СТАТУС</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for scooter in page_obj_scooter %}
            <td>{{scooter.id}}</td>
            <td><a href="{% url 'detail_scooter' scooter.id %}">{{scooter.serial_number}}</a></td>
            <td>{{ scooter.active }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav>
        <ul class="pagination">
          {% for p in page_obj_scooter.paginator.page_range %}
          <li>
            <a class="page-link"  href="?page={{ p }}">{{ p }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <br>
    <br>
    <h2>Поездки</h2>
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'export_to_csv_trip' %}">Экспортировать</a></button>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">СТОИМОСТЬ</th>
            <th scope="col">ДАТА</th>
            <th scope="col">ID_ВОДИТЕЛЯ</th>
            <th scope="col">ID_САМОКАТА</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for trip in page_obj_trip %}
            <td>{{trip.id}}</td>
            <td>{{trip.cost}}</td>
            <td>{{trip.date_of_trip}}</td>
            <td><a href="{% url 'profile' trip.rider.id %}">{{trip.rider.id}}</a></td>
            <td>{{ trip.scooter.id }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav>
        <ul class="pagination">
          {% for p in page_obj_trip.paginator.page_range %}
          <li>
            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </main>
</div>
</div>
{% else %}
<script>
// Если обычный пользователь захочет прейти в dashboard, то его выкинет из акканута и перенаправят на страницу входа
  document.location.href = '/logout';
</script>
{% endif %}
{% endblock %}